<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cenkt.music_player">

    <!-- Declare the app runs on Android Automotive OS devices -->
    <uses-feature
        android:name="android.hardware.type.automotive"
        android:required="true" />

    <application>
        <!-- No com.google.android.gms.car.application entry here -->
    </application>
</manifest>